html{
    box-sizing: border-box;
    background-color: #f6f7ff;
    color: #777;
   
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
}
*,*:before,*:after{
    box-sizing: inherit;
}


body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;

    
}
.thatfont
{
    font-family: 'Poppins', sans-serif;
}
h1 , h2,h3{
    font-family: 'Poppins', sans-serif;
    color: black;
}
h2{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0px;

}
h1{
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
}
.content-wrap{
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 50px;
    min-height:10px;
    overflow: auto;
    
}
.left
{
    width: 50%;
    float: left;
    overflow: auto;
   
}
.right
{
    width: 50%;
    float:left;
    overflow: auto;
    
    
}

.intro
{
    position:relative;
  
    width: 70%;
   
   


}
header
{
    top 0;


}

header , footer{

    
    color: rgb(7, 51, 248);
    margin-top: 20px;

}

footer{
text-align: center;
margin-top: 25px;
position: absolute;




border: 3px solid #73AD21;
margin-bottom: 25px;
background: white
color: white;
overflow: visible;
padding-left: 0;
padding-right: 0;
widht:70%;
align-self: right;
    
}

footer a{
    line-height: 50px;
    text-decoration: none;
    border:solid white 3px;
    margin: auto;
  
}



.education{
 
    width: 70%;
    position: relative;
   
    
   

}

.work{
    background: white;
    margin-top: 25px;
    position: relative;
  width: 70%;
   
  

}

img{
   border: white solid 10px;
}

nav a{
    color:white;
    font-weight: 300;
}
nav a:hover{
    text-decoration:none;
    background: white;
    color: blue;
    
}

header h1, header h2 {

    color:blue;
    margin: 0;
}


nav{
    text-align: center;
    background:blue;
    
    color:white;
    position: fixed;
    width: 90%;
    top:0;
    z-index:1;
    margin-left:5%;
    margin-right:5% ;
  
    /* margin-top: 20px; */
}
nav a{
    display: inline-block;

    padding: 15px 20px;
    text-decoration:none;
    text-transform: uppercase;
    font-weight: 700;


}
header{
    padding-top: 50px;
    position: relative;
    margin-top: 100px;
    width: 70%;
    
    
   color:black;
}
.btn{
    text-decoration: none;
    background: #ffc500;
    color: white;
    padding: 10px;
    border-radius: 5%;
    /* display: inline-block; */
}
.download{
    position: absolute;
    margin-left: 16%;
   
}

@media (min-width:900px)
{
    .col-narrow
    {
        width: 30%;
        float: left;
        min-height: 175px;
        overflow: auto;
    }
    .col-wide{
        width:70%;
        float: left;
        padding-left: 15px;
        min-height: 175px;
        overflow: auto;
    }
}

.profile-img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
   border-color: black;
   border-width: 2px;
    
   
    
}

@media (max-width:899px){
    header{
        text-align: center;
        margin-top: 200px; 
    }
    .profile-img{
        margin-bottom: 20px;
    }


}

 footer, .work, .education{
    border:  solid white 1px;
}
.education h2{
    color: black;
}

@media(max-width:782px)
{
   .profile-img{
       height: 200px;
       width:200px;
   }
}

footer a:hover
{
    border:solid white 5px;
    text-decoration: none;
    margin: auto;

}
@media(max-width:560px)
{
    footer a{
        display: table-cell;
        padding:1px;
        
       
        text-decoration: none;
        border:dashed white 0.1px;
    }
}


.bgline
{
    background-color: #f6f7ff;
    box-shadow: 0px 0px 0px 0px rgba(74,99,231,.2);
    width:100%;
    margin-left: 0%;
    border-radius: 0px;
}
.email
{
    /* background: whitesmoke; */
   
    display: inline-block;
    padding: 5px;
   border: solid white 1px;
   margin: 10px;

}
.mobile
{
    /* background: whitesmoke; */
    
    display: inline-block;
    padding: 5px;
   border: solid white 1px;
   margin: 10px;
}
.link
{
    display:inline
    padding: 5px;
    margin:10px;
    
    font-size: 30px;
    color: white;
}
.link:hover
{
    background-color: #002afff1;;
}

.locateme
{
  
    position:relative;
   
    width: 70%;
   

  

}

footer
{
    background-color:rgba(230, 230, 230, 0.678);
    margin-top: 0;
    border: none;
    
}
#letskeepintouch
{
    color:white;
    font-size: 20px;
    text-align: center;
    position:relative;
    width: 70%;
    margin-left: 5%;
        background-color: #4a63e7;
        opacity: .9;
        transition: background .3s,border-radius .3s,opacity .3s;
        color: white;
    
}

.title
{
    background-color: white;
    text-align: center;
    color: blue;
    margin-top:25px;
    height: 80px;
   
}



section  {
    
    position: relative;
    
    box-shadow: 15px 6px 13px 5px rgba(74,99,231,.2);
    padding: 10px;
    background: white;
    margin-left: 5%;
    margin-top: 25px;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
   

  
   
    
    
  }

  .section-title:after {
    content: "";
    background: #ff5959;
    border-radius: 25px;
    display: block;
    height: 5px;
    margin-top: 14px;
    width: 100px;
}




